.searchsContainer {
  position: relative;
  float: right;

  width: 80%;
  height: 100vh;
  background: linear-gradient(329.54deg, #2dc7ed 0%, #538bf0 100%);
}
#historyField {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100vh;
}
#historyField h1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-size: 40px;
  margin-top: 5em;
}
#historyField hr {
  width: 70%;
  align-self: center;
  border: 1px solid;
  border-width: 1px;
  border-color: rgb(19, 29, 71, 0.2);
}
.weatherData {
  display: flex;
  flex-direction: column;
  font-size: 25px;
}
.weatherData ul {
  margin-top: 5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
}
.weatherData li {
  margin: 2rem 0 0 9em;
}
.no-history {
  font-size: 30px;
  margin: 5em 0 0 0;
  width: 100%;

  justify-content: center;
  text-align: center;
  align-items: center;
}
