.sidebar {
  position: fixed;
  width: 20%;
  height: 100vh;
  background: #131d47;
  font-size: 0.65em;
}

.nav {
  position: relative;
  margin: 0 15%;
  text-align: right;
  top: 50%;
  transform: translateY(-50%);
  font-weight: bold;
}
.nav img {
  width: 30%;
}

.nav ul {
  list-style: none;
}
.nav li {
  position: relative;
  margin: 3.2em 0;
}
.nav a {
  line-height: 5em;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.4em;
  color: rgb(255, 255, 255, 0.5);
  font-weight: 700;
  display: block;

  transition: 0.3s;
}
.nav a:hover {
  color: #fff;
}
